/runs
/docs
/Resources
**/__pycache__/
/.vscode
.vscode/
/cleanmarl/runs
/mp_tests
/runs_hpc
/wandb
/smaclite
/JaxMARL
/.DS_Store
/.vscode
todo.txt
/testing

# temp
cleanmarl/env/smax_vec_wrapper.py
cleanmarl/env/smax_wrapper.py
cleanmarl/mappo_smax.py
cleanmarl/vdn_jaxenvs.py
cleanmarl/mappo_continous_actions.py
cleanmarl/mappo_continuous_lstm.py
cleanmarl/env/utils.py
cleanmarl/env/mamujoco_wraper.py
cleanmarl/coma_lbf.py

